@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Raleway:wght@100&family=Rubik&display=swap');
html{
    font-size:62.5%;
}

body{
    display:flex;
    position:relative;
    height:100vh;
    margin:0;
    font-family:"rubik";
    background-color:hsl(0, 0%, 97%);
}

h3{
    margin:0;
}

h2{
    margin:0;
}

.left-purple-design{
    opacity:0;
    display:flex;
    position:fixed;
    left:-35rem;
    top:-5rem;
    width:75rem;
    height:90rem;
    background-image:linear-gradient(to bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-bottom-left-radius:75%;
    border-bottom-right-radius:50%;
    animation: top-to-bottom-text 1.5s forwards;
}

.right-gray-design{
    opacity:0;
    display:flex;
    position:fixed;
    right:-48rem;
    bottom:-8rem;
    width:70rem;
    height:90rem;
    background-color:hsl(270, 20%, 96%);
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    animation: bottom-to-top-text 1.5s forwards;
}

.phone-box{
    opacity:0;
    display:flex;
    position:relative;
    left:34rem;
    top:22rem;
    width:25rem;
    height:53rem;
    border-radius:2.5rem;
    background-color:#fff;
    padding:1rem;
    animation: top-to-bottom-text 2s forwards linear 1.5s;
}

.inner-box{
    display:flex;
    position:relative;
    background-color: hsl(270, 20%, 96%);
    width:100vw;
    height:100%;
    border-radius:2.5rem;
}

.phone-header{
    opacity:0;
    display:flex;
    position:absolute;
    background-image:linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    width:100%;
    height:15%;
    left:-16.2rem;
    border-top-right-radius:2.5rem;
    border-top-left-radius:2.5rem;
    border-bottom-right-radius:1rem;
    border-bottom-left-radius:.5rem;
    animation: right-to-left-message 1s forwards 4.5s;
}

.phone-header-white-design{
    display:flex;
    position:absolute;
    background-color:#fff;
    width:14rem;;
    height:2.3rem;
    left:5.5rem;
    border-bottom-left-radius:2.5rem;
    border-bottom-right-radius:2.5rem;
}

.left-of-avatar-symbol{
    opacity:0;
    display:flex;
    position:absolute;
    left:1.3rem;
    color:#fff;
    top:3.8rem;
    animation: right-to-left-message 1.5s forwards 5.5s;

}

.name-status-box{
    opacity:0;
    display:flex;
    position:relative;
    flex-direction:column;
    width:14rem;
    height:4rem;
    left:0rem;
    top:3.3rem;
    color:#fff;
    animation: right-to-left-message 1.5s forwards 8s;
}

.name-design{
    font-size:1.3rem;
    font-weight:500;
    color:hsl(0, 0%, 92%);
}

.status-design{
    color:hsl(276, 100%, 81%);
}

.top-avatar{
    opacity:0;
    display:flex;
    position:absolute;
    border-radius:50%;
    height:3rem;
    width:3rem;
    top:3.1rem;
    left:2rem;
    border:0.2rem solid #fff;
    animation: right-to-left-message 1.5s forwards 7s;
}

.dots-top{
    display:flex;
    position:absolute;
    width: 0.3em;
    height: 2rem;
    color:#fff;
    font-size:2rem;
    left:23rem;
    top:2.5rem;
}

.top-dot{
    opacity:0;
    display:flex;
    position:absolute;
    animation: top-to-bottom-text 2s forwards 9s;
}

.mid-dot{
    opacity:0;
    display:flex;
    position:absolute;
    top:.6rem;
    animation: top-to-bottom-text 2s forwards 8s;
}

.bottom-dot{
    opacity:0;
    display:flex;
    position:absolute;
    top:1.2rem;
    animation: top-to-bottom-text 2s forwards 7s;
}

.message-box{
    display:flex;
    flex-direction:column;
    position:absolute;
    left:-15.8rem;
    width:100%;
    height:72%;
    top:15%;
}

.first-message-box{
    opacity:0;
    display:flex;
    width:15rem;
    height:3.3rem;
    text-align: center;
    padding-left:.8rem;
    padding-bottom:.8rem;
    padding-top:.8rem;
    animation: left-to-right-message 2s forwards 10s;
}

.second-message-box{
    opacity:0;
    display:flex;
    width:15rem;
    height:3.3rem;
    text-align: center;
    padding-left:.8rem;
    padding-bottom:.8rem;
    animation: left-to-right-message 2s forwards 11.5s;
}

.third-message-box{
    opacity:0;
    display:flex;
    width:15rem;
    height:3.3rem;
    text-align: center;
    padding-left:9rem;
    padding-bottom:.8rem;
    animation: right-to-left-message 2s forwards 14.5s;
}

.images-box{
    opacity:0;
    display:flex;
    padding-bottom:.8rem;
    padding-left:6.2rem;
    animation: right-to-left-message 2s forwards 13s;
}

.fourth-message-box{
    opacity:0;
    display:flex;
    width:15rem;
    height:2.8rem;
    text-align: center;
    padding-left:12.6rem;
    padding-bottom:.8rem;
    animation: right-to-left-message 2s forwards 16s;
}

.fifth-message-box{
    opacity:0;
    display:flex;
    width:15rem;
    height:4.8rem;
    text-align: center;
    padding-left:.8rem;
    padding-bottom:.8rem;
    animation: left-to-right-message 2s forwards 17.5s;
}

.offer-design{
    opacity:0;
    background-image:linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    width:18rem;
    height:3.6rem;
    margin-bottom:0.8rem;
    left:-1rem;
    border-radius:1rem 1rem 1rem 0.3rem;
    text-align: center;
    animation: left-to-right-message 2s forwards 19s;
}

.offer-price{
    position:absolute;
    left:14rem;
    top:0.9rem;
    color:#fff;
}

.offer-details{
    position:absolute;
    left:3.6rem;
    top:1.2rem;
    color:#fff;
    font-weight:400;
    font-size:1rem;
    color:hsl(276, 100%, 90%);
}

.circle {
    position:absolute;
    left:0.6rem;
    top:0.6rem;
    border-radius: 50%;
    height: 1.8rem;
    width: 1.8rem;
    border: 0.2rem solid hsl(276, 100%, 81%);
  }	

.first-offer{
    display:flex;
    position:relative;
}

.second-offer{
    display:flex;
    position:relative;
}

.message-design-dog-keeper{
    background-color:hsl(299, 10%, 85%);
    color:hsl(276, 55%, 52%);
    font-weight:400;
    border-radius:1rem 1rem 1rem 0.3rem;
    padding:0.5rem;
    display: inline-block;
    text-align: left;
    font-size:1rem;
}

.message-design-client{
    background-color:#fff;
    color:hsl(271, 15%, 43%);
    font-weight:400;
    border-radius:1rem 1rem 0.3rem 1rem;
    padding:0.5rem;
    display: inline-block;
    text-align: left;
    font-size:1rem;
}

.image-design-dog{
    border-radius:2rem;
    height:5rem;
    width:5rem;
    padding:.5rem;
}

.chat-box{
    opacity:0;
    display:flex;
    position:absolute;
    width:18rem;
    height:3.5rem;
    top:47rem;
    left:1.7rem;;
    border-radius:2rem;
    background-color:#fff;
    border:hsl(0, 0%, 94%) solid;
    color:hsl(255, 15%, 43%);
    padding-left:1.2rem;
    padding-right:1rem;
    animation: bottom-to-top-text 2s forwards 21s;
}

.circle-bottom-button{
    opacity:0;
    display:flex;
    position:absolute;
    border-radius:50%;
    border:0.1rem solid hsl(260, 36%, 24%);
    width:3.6rem;
    height:3.6rem;
    top:47.4rem;
    left:18.7rem;
    background-color:hsl(271, 36%, 24%);
    cursor:pointer;
    animation: bottom-to-top-text 2s forwards 21s;
}

.buttom-symbol{
    display:flex;
    position:absolute;
    left:1.3rem;
    color:#fff;
    top:0.7rem;
    font-weight:700;
    font-size:1.7rem;
}

.outer-box{
    display:flex;
    position:relative;
    height:35rem;
    width:60rem;
    left:72rem;
    top:-19rem;
}

.outer-title{
    opacity:0;
    position:absolute;
    font-size:5rem;
    color:hsl(271, 36%, 24%);
    animation: top-to-bottom-text 2s forwards linear 1.5s;
}

.outer-text{
    opacity:0;
    position:absolute;
    font-size:1.8rem;
    top:10rem;
    color:hsl(270, 7%, 64%);
    animation: bottom-to-top-text 2s forwards linear 1.5s;
}

@keyframes left-to-right-message{
    0%{
        transform:translateX(-25%);
        opacity:0;
    }
    100%{
        opacity:1;
        transform:translateX(100%);
    }
}

@keyframes right-to-left-message{
    0%{
        transform:translateX(100%);
        opacity:0;
    }
    100%{
        opacity:1;
        transform:translateX(65%);
    }
}

@keyframes top-to-bottom-text{
    0%{
        transform:translateY(-100%);
        opacity:0;
    }
    100%{
        opacity:1;
        transform:translateY(0%);
    }
}

@keyframes bottom-to-top-text{
    0%{
        transform:translateY(100%);
        opacity:0;
    }
    100%{
        opacity:1;
        transform:translateY(0%);
    }
}


